# Ignore virtual environment directories
myenv/

# Ignore the downloads directory where audio files are stored
downloads/

.vscode/
# Ignore the transcriptions directory where transcription files are stored
transcriptions/

